<ion-grid text-center>
  <ion-row>
    <ion-col>
      <h4>Share our app for</h4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button icon-left outline round block color="menuText" (click)="onAction('android')"><ion-icon name="logo-android"></ion-icon> Google Play</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button icon-left outline block round color="menuText" (click)="onAction('ios')" [disabled]="true"><ion-icon name="logo-apple"></ion-icon> App Store ( Soon )</button>
    </ion-col>
  </ion-row>
</ion-grid>
